<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid center navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/cameras">Cameras</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/settings">Stats & Settings</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-default navbar-btn"><a href="/logout">Logout</a></button>
    </ul>
  </div>
</nav>